@import "../bower_components/reveal.js/css/theme/template/mixins";
@import "../bower_components/reveal.js/css/theme/template/settings";

$mainColor: #333;
$headingColor: #c41200;
$backgroundColor: #fff;
$headingTextShadow: none;
$selectionBackgroundColor: #c41200;
$linkColor: #c41200;

@import "../bower_components/reveal.js/css/theme/template/theme";

.reveal pre {
  box-shadow: none;
  border: 1px solid #ccccc8;
  border-radius: 4px;
  background-color: #f5f5f1;
}

pre code {
  background-color: #f5f5f1;
}

.yelp-logo {
  background: url('logo.png');
  height: 58px;
  width: 110px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.reveal .controls {
  left: 10px;
  right: auto;
}